/*MAIN PRODUCTOS*/

.grilla{
    padding: 10px;
    background-color: #e0ca04;

}

.caja__2{
    width: 850px;
    display: flex;
    background-color: rgb(78, 3, 78);
    border: 10px gold outset;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding: 20px;
    .caja__2 img{
        display: flex;
        height: 220px;
        padding-right: 15px;
    }
    .caja__2 select{
        display: flex;
        }
}

.caja__2 select{
display: flex;
}